.msgWrapper{
    border-top: 2px solid rgb(238, 229, 229) ;
    border-top-style: dashed;
   padding: 1% 0.5%;
   
   .title{
    display: flex;
    align-items: center;
    span{
        margin-left: 0.5%;
    }
    .name{
        font-size:  16px;
        color: black;
        font-weight: 700;
        margin-left: 1%;
    }
    .time{
        color: gray;
        font-weight: 400;
        width : 110px
    }
    .delete{
        color: blue;
        text-decoration: underline;
        cursor: pointer;
    }
   }
  .text{
    padding: 1% 2%;
    color: gray;
    font-weight: 600;
  }
}